@import "~bootstrap/dist/css/bootstrap.css";
.brdrAlign{
    border: 1px solid #ccc;
    padding: 20px;
}
.active{
    background-color: blue;
}
.Flex{
    display: flex;
}
.w-22{
    width: 22%;
}
.w-78{
    width: 78%;
}