<div class="app">
  <div id="sidenav">
    <div class="wrapper">
      <div class="logo">
        <a href="#">Pick My Solar</a>
        <a href="#" class="nav-icon pull-right"><i class="fa fa-bars"></i></a>
      </div>
      <div class="menu">
        <ul>
          <li routerLinkActive='active'><a href="javascript:void(0);">Dashboard</a></li>            
          <li routerLinkActive='active'><a href="javascript:void(0);" routerLink="/Home">Home</a></li>           
          <li routerLinkActive='active'><a href="javascript:void(0);" routerLink="/Profile">Profile</a></li>
          <li><a href="javascript:void(0);" class="logout" (click)="logout()">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>