<div class="Flex">
	<app-dashboard class="w-22"></app-dashboard>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark w-78">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb"> <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navb">
			<div class="form-group has-search mb-0 w-50 position-relative"> <span class="fa fa-search form-control-feedback"></span>
				<input ngx-google-places-autocomplete  #placesRef="ngx-places"  class="form-control" placeholder="Search Address">
			</div>
		</div>
	</nav>
</div>