
@import "~bootstrap/dist/css/bootstrap.css";
.has-search .form-control {
    padding-left: 2.375rem;
}
.active{
    background-color: blue;
}
.Flex{
    display: flex;
}
.w-22{
    width: 22%;
}
.w-78{
    width: 78%;
}
.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}